
body {
  margin: 0;
  padding: 0;
}

  .board {
    height: 700px;
    width: 700px;
    box-sizing: border-box;
    background-color: black;
  }

  .player {
    width: 140px;
    height: 140px;
    /* background-color: red; */
    background-image: url('../images/ship (1).png');
    position: absolute;
    top: 500px;
    left: 230px;
  }

  .invader {
    width: 40px;
    height: 40px;
    background-color: blue;
    display: inline-block;
    position: absolute;
  }

  .bullet {
    width: 10px;
    height: 20px;
    background-color: yellow;
    position: absolute;
  }
